.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;

  &.size-small {
    padding: 10px;
  }

  &.size-large {
    padding: 40px;
  }

  ion-spinner {
    color: var(--ion-color-primary);

    &.spinner-small {
      transform: scale(0.7);
    }

    &.spinner-large {
      transform: scale(1.5);
    }
  }

  p {
    margin-top: 16px;
    color: var(--ion-color-medium);
    font-size: 14px;
  }
}
